.ProductList {
  margin: 80px 0;
  padding: 0 12.084rem 0 6.042rem;
  z-index: 90;
  font-family: AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, 'Droid Sans',
    'Roboto', 'Segoe UI', 'Helvetica', Arial, sans-serif;

  .listWrapper {
    .modal {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 100;

      .modalWrapper {
        width: 800px;
        height: 500px;
        background-color: white;
        margin: 10% auto;
        padding: 40px;
        background: #fff;
        border-radius: 5px;
        position: relative;

        .modalHeader {
          display: flex;
          justify-content: space-between;
          font-size: 20px;
          font-family: sans-serif;
          font-weight: 700;

          .closeBtn {
            cursor: pointer;
          }
        }

        .modalBody {
          margin-top: 5%;

          .cateWrapper {
            margin-bottom: 18px;

            .categoryName {
              font-size: 18px;
              margin-bottom: 10px;
            }

            .unclickedBtn {
              background-color: white;
              border-radius: 17px;
              border: 1px solid #ddd;
              padding: 8px 16px 5px;
              font-size: 15px;
              color: #4e4e4e;
              margin: 0 3px 6px;
              cursor: pointer;
            }

            .clickedBtn {
              background-color: white;
              border-radius: 17px;
              border: 1px solid #0e2ee2;
              padding: 8px 16px 5px;
              font-size: 15px;
              color: #0e2ee2;
              margin: 0 3px 6px;
              cursor: pointer;
            }
          }
        }

        .modalFooter {
          position: absolute;
          bottom: 40px;
          right: 190px;

          button {
            color: white;
            background-color: black;
            border: solid black;
            border-radius: 17px;
            padding: 2.5% 200px;
            cursor: pointer;
          }
        }
      }
    }

    .listHeader {
      .listTitle {
        font-family: sans-serif;
        font-size: 28px;
        font-weight: 700;
        display: flex;
        align-items: center;

        .btnWrapper {
          border-bottom: 2px solid black;
          margin-right: 5px;
          cursor: pointer;

          button {
            border: none;
            background-color: white;
            font-size: 28px;
            font-weight: 700;
            cursor: pointer;
          }

          .icon {
            color: gainsboro;
          }
        }

        span {
          margin-top: 1.5px;
        }
      }

      .filterBtn {
        margin: 3% 0;

        button {
          border: solid 1px black;
          border-radius: 17px;
          background-color: white;
          padding: 7px 16px;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }

    .listContent {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 2px;
      justify-content: space-between;

      .listCard {
        margin: 0 0.5%;

        .imgWrapper {
          width: 230px;
          height: 230px;
          margin-bottom: 5%;
          overflow: hidden;
          position: relative;

          .listImg {
            width: 100%;
          }

          .likeBtnWrapper {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;

            .likeBtn {
              border-radius: 100%;
              width: 32px;
              height: 32px;
              border: none;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              background-color: #f9f9f9;

              .unliked {
                width: 18px;
                height: 18px;
                color: #d5d5d5;
              }

              .liked {
                width: 18px;
                height: 18px;
                color: red;
              }
            }
          }

          .itemStatusSoldOut {
            position: absolute;
            top: 0;
            left: 0;
            background-color: gray;
            border-radius: 0 0 4px 0;
            padding: 2px 6px;
            color: white;
            font-size: 15px;
            display: flex;
          }

          .itemStatusLessTen {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #27d3a4;
            border-radius: 0 0 4px 0;
            padding: 2px 6px;
            color: white;
            font-size: 15px;
            display: flex;
          }
        }

        .itemTitle {
          font-size: 15px;
          margin-bottom: 5%;

          a {
            color: black;
            text-decoration: none;
          }
        }

        .itemPrice {
          font-size: 14px;
          margin-bottom: 7%;
        }
      }
    }
  }
}
