.flowcard-wrapper {
  box-sizing: border-box;
  position: relative;
  // height: calc(14rem * 2 + 16px);
  .product-card-container {
    // width: calc(100vw - 10px);
    // left: calc((-100vw + 6rem) / 2 + 50%);
    // overflow: hidden;
    .product-card {
      // flex-direction: column;
      // height: calc(13rem * 2 + 16px);

      .product-flowcard-toplist {
        display: flex;
        white-space: nowrap;
        animation: leftMoveLoop 45s infinite linear;
        animation-duration: 45s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: leftMoveLoop;
        margin-bottom: 30px;
      }
      .product-flowcard-bottomlist {
        display: flex;
        white-space: nowrap;
        animation: rightMoveLoop 45s infinite linear;
        animation-duration: 45s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: rightMoveLoop;
        // .product-flowcard-item {
        //   width: 100%;
        // }
      }
    }
  }
  @keyframes leftMoveLoop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-225rem);
    }
  }

  @keyframes rightMoveLoop {
    0% {
      transform: translateX(-225rem);
    }
    100% {
      transform: translateX(0);
    }
  }
}
