// @import url('reset.scss');

.weple-main-header-wrapper {
  box-sizing: border-box;
  a {
    text-decoration: none;
  }

  //헤더
  .weple-main-header {
    // position: relative;
    width: 100%;
    border: 1px solid green;

    //네브바
    .weple-navbar {
      width: 85%;
      height: 5rem;
      display: flex;
      flex-direction: row;
      border: 1px solid black;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;

      //로고, 메뉴
      .navbar-left {
        display: flex;
        align-items: center;
        .header-menu {
          display: flex;
          font-size: 25px;
          letter-spacing: -0.1px;
          .header-menu-list {
            margin-left: 2rem;
            color: gray;
            list-style: none;
            font-weight: bold;
            a {
              color: grey;
            }
          }
        }
        h1 {
          font-size: 40px;
          font-weight: bold;
          letter-spacing: 0.5rem;
          color: black;
        }
      }

      //장바구니, 햄버거
      .navbar-right {
        display: flex;
        align-items: center;
        font-size: 25px;
        margin-right: 2rem;
        justify-content: center;
        a {
          color: black;
        }
        .hamburger {
          border: none;
          justify-content: center;
          margin-left: 1rem;
          font-size: 25px;
          background-color: white;
        }
      }
    }
  }
}
