.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: green;
  color: #fff;
}
