.slide-section {
  box-sizing: border-box;
  position: relative;
  .slide-showbox {
    width: 85%;
    height: 450px;
    margin: 0 auto;
    position: relative;
    .slide-wrapper {
      height: 100%;
      display: flex;
      overflow: hidden;
      .slide-list {
        display: flex;
        height: 100%;
      }
    }
  }
  .slide-controller {
    transform: rotateY(1/2);
    display: flex;
    justify-content: space-between;
    .prev {
      top: 25%;
      font-size: 70px;
      border: none;
      background: inherit;
      position: absolute;
      cursor: pointer;
    }
    .next {
      top: 25%;
      left: 95%;
      font-size: 70px;
      border: none;
      background: inherit;
      position: absolute;
      cursor: pointer;
    }
  }
}
