.slide-section {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: blue;
  // margin: 0 10%;

  .slide-showbox {
    margin-left: 5.714285714285714rem;
    width: 80%;
    height: 450px;
    // margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: black;

    .slide-wrapper {
      height: 100%;
      display: flex;

      .slide-list {
        display: flex;
        height: 100%;
        transition: transform 0.5s;
      }
    }
  }
  .slide-controller {
    transform: rotateY(1/2);
    display: flex;
    justify-content: space-between;
    .prev {
      top: 25%;
      left: 3%;
      font-size: 70px;
      border: none;
      background: inherit;
      position: absolute;
      cursor: pointer;
    }
    .next {
      top: 25%;
      left: 92%;
      font-size: 70px;
      border: none;
      background: inherit;
      position: absolute;
      cursor: pointer;
    }
  }
}
