.slide-card-wrapper {
  box-sizing: border-box;
  margin-right: 10px;
  display: inline-block;
  .card-img {
    width: 300px;
    height: 250px;
    background-color: green;
  }
  .card-title {
    width: 300px;
    height: 70px;
    background-color: blue;
  }
  .card-description {
    width: 300px;
    height: 30px;
    background-color: yellow;
  }
}
