.topContainer {
  a {
    text-decoration: none;
    font-family: AppleSDGothicNeo, -apple-system, BlinkMacSystemFont,
      'Droid Sans', 'Roboto', 'Segoe UI', 'Helvetica', Arial, sans-serif;
    font-weight: 400;
  }

  //헤더
  @media screen and (max-width: 1023px) {
    .headerContainer {
      box-sizing: border-box;
      width: 1023px;
    }
  }

  .headerContainer {
    padding-right: 6.042rem;

    //네브바
    .headerWrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 6.042rem;
      box-sizing: border-box;

      //로고, 메뉴
      .headerLeft {
        display: flex;
        align-items: center;
        font-size: 1.25rem;

        .headerList {
          display: flex;
          list-style: none;

          .headerListMenu {
            display: flex;
            align-items: center;
            height: 5rem;
            margin-left: 1.7rem;
            font-weight: bold;
            a {
              color: grey;
              height: 1.313rem;
            }
            #homeMenu {
              color: blue;
            }
          }
        }

        .wepleLogoWrapper {
          display: flex;
          margin-right: 0.938rem;

          h1 {
            font-size: 1.75rem;
            font-weight: bold;
            letter-spacing: 0.5rem;
            color: black;
          }

          .wepleLogo {
            background-image: url('https://img.icons8.com/small/25/000000/globe.png');
            width: 1.563rem;
            height: 1.563rem;
          }
        }
      }

      //장바구니, 햄버거
      .headerRight {
        display: flex;
        align-items: center;
        font-size: 1.563rem;
        a {
          color: black;
        }
        .hamburger {
          border: none;
          margin-left: 1.5rem;
          background-color: white;
          cursor: pointer;

          .hamburgerIcon {
            font-size: 1.438rem;
            color: rgb(70, 70, 70);
          }
        }

        .cartIcon {
          font-size: 1.438rem;
          color: rgb(70, 70, 70);
        }
      }
    }
  }
}
